/*===========================================================
  Checklist
  By Jesse
===========================================================*/


main{
    #tasklist{
        display:flex;
        flex-direction: column;
        .task{
            display:flex;
            gap:2px;
            background-color: cadetblue;
            margin:10px;
            :not(:last-child){
                border-right:1px dashed grey;
            }   
        }
    }
}

