/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #133;

    --back-col:         #dff;
    --back-col-dark:    #bdd;

    --border-col:       #355;

    --accent-col:       #e43;
}


/* Overall Layout -----------------------------------------------*/

body {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}

main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    background-color: var(--back-col-dark);
    border-bottom: 2px solid var(--border-col);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.25rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
            font-weight: bold;
            text-decoration: none;
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Creature List --------------------------------------------------*/

#creatures {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;

    .creature {
        padding: 1rem;

        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: 0.5rem;

        h3 {
            color: var(--accent-col);
        }
    }
}


